@charset "UTF-8";


html, body, span, h1, h2, h3, h4, h5, h6, p, a, img, strong, sub, sup, b, i, dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article,  footer, header, nav, section{margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;color: #5D5D5D;font-family: 'Nanum Gothic', sans-serif;}
ol, ul {list-style: none;}
table {border-collapse: collapse;border-spacing: 0;}
a{color: #5D5D5D;text-decoration: none;}
#header{background-color: #6199B9; height: 65px;}
.inner_ct{margin: 0 auto;width: 1080px;}
.inner_ct::after{content: "";clear: both;display: block;}
#header .logo img{height: 48px;display: inline-block;padding: 18px 0 0 33px;}
#header .logo{float: left;}
#header .nav{float: left;padding: 23px 0 0px 45px;}
#header .nav a{font-size: 18px;font-weight: 800;color: white;padding: 0 18px 0 0px;}
.navClick{color: #ffcb00!important;}
#header .name{float: right; padding: 23px 0 0 0;color: white;font-weight: 700;}
#header .name a{color: white;font-weight: 700;    margin-left: 9px;}
#header .navRight{float: right;}
#header .navRight{padding-top: 20px;padding-left: 18px; display: inline-block;padding-right: 18px;}
#header .navRight a:not(:first-child){display: inline-block;padding-left: 18px;}
/*왼쪽 매뉴css시작*/
#container .menu{float: left;width: 220px;border-color: #ff0;position: absolute;}
#container .menu .sub_menu{display: none;}
#container .menu .main_menu>a{padding: 21px 15px;text-align: center;font-size: 14px; font-weight: 800; color: #929FA2;display: block;}
#container .menu .main_menu.on>a{color: white; background: #6199B9;}
#container .menu .main_menu.open>a{color: white; background: #6199B9;}
#container .menu .main_menu>a:hover{color: white; background: #6199B9;}
/*#container .menu .main_menu:not(:first-child){border-top: 1px solid #DCE0E6;}*/
#container .menu .main_menu:not(:first-child)>a{border-top: 1px solid #DCE0E6;}
#container .menu .sub_menu{padding: 8px 0;background: #E5EEF3;}     
#container .menu .main_menu.on .sub_menu{display: block;}
#container .menu .sub_menu a{display: block;text-align: center;font-size: 13px;font-weight: 700;color: #929FA2;padding: 8px 0px;}
#container .menu .sub_menu a:hover{color: #5D5D5D;}
#container .menu .sub_menu .sub_menu_list.on a{color: #5D5D5D;font-weight: 800;}

.menu .menu_cnt{margin-top: 25px; border-bottom: 2px solid #BAC2CE; border-top: 2px solid #BAC2CE;}
/*왼쪽 메뉴 css 끝*/
/*메인화면 css 시작*/
/* #container .main_ctn{float: left;width: calc(100% - 220px);background-color: #0ff;padding: 20px;margin-left: 230px;margin-top: 25px;} */
#container .main_ctn{float: left;width:800px;padding: 20px;margin-left: 230px;margin-top: 25px;}
#container .main_ctn .title:not(.not){font-size: 22px;}
/*메인화면 css 끝*/
/*테이블 css*/
#container .main_ctn .tb{border-top: 2px solid #6199B9;width: 100%;}
#container .main_ctn .tb tr{border-bottom: 1px solid #929FA2;}

.cancel_Btn {width: 67px;height: 33px;background: white;border: 2px solid #FFCB00;color: #FFCB00;font-weight: bold;vertical-align: middle;font-size: 13px;}
.submit_Btn {width: 67px;height: 33px;background: white;border: 2px solid #6199B9;color: #6199B9;font-weight: bold;vertical-align: middle;font-size: 13px;}
.search_Btn {width: 67px;height: 33px;background: white;border: 2px solid #575B5C;color: #575B5C;font-weight: bold;vertical-align: middle;font-size: 13px;}

