@charset "UTF-8";

/*모달 공통*/
/* #header{background: #6199B9;width: 100%;height: 66px;} */
.header_Modal div {height:70px; color: white;font-size: 27px;padding-top: 17px;padding-left: 24px;font-weight: bold; background: #6199B9;}
.header_Modal div h1 {color: white;}
.table_modal{width: 100%; border-collapse: collapse;}
.contents_Modal {width: 90%;height: 87%;margin: 0 auto;}
.contents_Modal_Div {height:90%; margin-top: 21px;}
.result_Modal{height:280px; margin-top: 10px; border-top: 2px solid #6199B9; overflow: auto; border-bottom: 1px solid #E5E5E5; margin-bottom: 10px;}
.result_Modal2{height:300px; margin-top: 41px; border-top: 2px solid #6199B9; overflow: auto;}
.result_Modal3{height:300px; margin-top: 41px; border-top: 2px solid #6199B9; overflow: auto;}
.result_Modal div{height: 60px;  border-bottom: 1px solid #E5E5E5;}
.result_Modal2 div{height: 60px;  border-bottom: 1px solid #E5E5E5;}
.result_Modal3 div{height: 60px;  border-bottom: 1px solid #E5E5E5;}
.table_modal td{border: 1px solid #E5E5E5;}
.oneText td{width: 70%; height: 50px;text-align: center}
.oneText td input[type='text']{width: 100%;height: 95%; border: none;padding-left: 2%;}
.header_Modal div i {float: right;margin-right: 20px;color: white;font-size: 40px;}
.result_Table {width: 100%;}
.result_Table th, .result_Table td {height: 40px; text-align: center; vertical-align: middle; border-bottom: 1px solid #E5E5E5;}
.right td:not(:nth-last-child(1)), .right th:not(:nth-last-child(1)){border-right: 1px solid #E5E5E5;}
.threeText td:nth-child(1){width: 100%; height: 50px;text-align: center;}
.threeText td {border: none;}
/*모달 고객 조회*/
.content_Window{width: 100%;height: 500px}
/*모달 끝*/
/*모달 고객사 조회*/
.result_Modal3 div {padding-top: 20px; padding-left: 2%;}
.result_Modal div {padding-top: 20px; padding-left: 2%;}
.result_Modal2 div {padding-top: 20px; padding-left: 2%;}
/*모달 끝*/
/*모달 영업기회 조회*/
 
/*모달 끝*/
/*모달 담당자*/

/*모달 끝*/
/* 버튼 */
/*모달 끝*/
/*제품등록 모달*/

/* 모달 끝*/
/* 모달 견적 */

/* 제품 다중 선택 */
.threeText td:nth-child(1) {text-align: left; vertical-align: middle;}
.threeText select {width: 95%; height: 40px; border-radius: 5px; border: 1px solid #E5E5E5;}
.threeText td:nth-child(1) input{width:95%; height:40px; border-radius: 5px; border: 1px solid #E5E5E5;}
.threeText td:nth-child(1){width: 100%; vertical-align: middle;}
.threeText td:nth-child(2) {vertical-align: middle;}
.threeText td:nth-child(2) input[type="button"]{height: 40px;width: 80px;}
.contents_Modal_Div input[type='button'] {float: right;}
/* #estimate_table_modal tr:nth-child(1){position: absolute;}
#estimate_table_modal tr:nth-child(1)> th:nth-child(1),td:nth-child(1){width: 156px;}
#estimate_table_modal tr:nth-child(1)> th:nth-child(2),th:nth-child(3),td:nth-child(2),td:nth-child(3){width: 158px;}
#estimate_table_modal tr:nth-child(1)> th:nth-child(4),td:nth-child(4){width: 108px;}
#estimate_table_modal tr:nth-child(1)> th:nth-child(5),td:nth-child(5){width: 212px;}
#estimate_table_modal >td:nth-child(1){width: 156px;} */
.exit_Btn{float: right;margin-right: 20px;color: white;font-size: 40px;}
.estumateTable tbody{text-align: center;}
.estumateTable tbody tr:nth-child(odd) td {vertical-align: middle; border-bottom: 1px solid #E5E5E5; border-right: 1px solid #E5E5E5;}
.estumateTable tbody tr:nth-child(odd) td:nth-last-child(1) {border-right: none;}
.estumateTable tbody tr:nth-child(even) td {height: 33px; vertical-align: middle; border-bottom: 1px solid #E5E5E5; border-right: 1px solid #E5E5E5;}
.estumateTable tbody tr:nth-child(odd) td input {text-align: right; padding-right: 5px; border: 1px solid #a0a0a0; border-radius: 2px;}
.estumateTable tbody tr:nth-child(even) td input {height:25px; text-align: right; padding-right: 5px; border: 1px solid #a0a0a0; border-radius: 2px;}
.estumateTable tbody tr:nth-child(odd) td:nth-child(1) {width: 35%; height: 33px;}
.estumateTable tbody tr:nth-child(odd) td:nth-child(3) {width: 17.5%; height: 33px;}
.estumateTable tbody tr:nth-child(odd) td:nth-child(3) input {width: 80%; height: 25px; margin-right: 3px;}
.estumateTable tbody tr:nth-child(odd) td:nth-child(4) input {width: 90%; height: 25px;}
.estumateTable tbody tr:nth-child(odd) td:nth-child(2) input {width: 80%; height: 25px;}
.estumateTable tbody tr:nth-child(even) td:nth-child(3) input {width: 80%; height: 25px;}
.estumateTable tbody tr:nth-child(even) td:nth-child(4) input {width: 95%; height: 25px;}
.estumateTable tfoot th{ text-align: left; }
