@charset "UTF-8";

#header_div {
	padding-top: 48px;
}

#header_div h1 {
	font-size: 23px;
	font-weight: bold;
	color: #3D4959;
}

#header_div button {
	float: right;
	margin-left: 12px;
	background: white;
	width: 60px;
	height: 30px;
	font-weight: bold;
	font-size: 13px;
}

#calcel_Btn {
	border: 2px solid #FFCB00;
	color: #FFCB00;
}

#submit_Btn {
	border: 2px solid #6199B9;
	color: #6199B9;
}

#table2 {
	width: 100%;
	border-top: 2px solid black;
	text-align: center;
}

#table2 td {
	vertical-align: middle;
	border-bottom: 1px solid #E5E5E5;
}

.td:nth-child(1) {
	width: 186px;
	height: 50px;
	border-right: 1px solid #E5E5E5;
}

.text1 {
	width: 600px;
	height: 33px;
	border: 1px solid #D1D6DE;
	float: left;
	margin-left: 6px;
}

.text2 {
	width: 510px;
	height: 33px;
	float: left;
	margin-left: 6px;
	border: 1px solid #D1D6DE;
}
.text3 {
	width: 600px;
	height: 35px;
	background: #EAEAEA;
	float: left;
	margin-left: 6px;
	border: none;
} 

.point {
	color: #FFCB00;
	font-weight: bold;
}

.search_Btn {
	width: 67px;
	height: 37px;
	background: white;
	border: 2px solid #575B5C;
	font-weight: bold;
	color: #575B5C;
	float: right;
	margin-right: 6px;
	vertical-align: middle;
	font-size: 13px;
}

#contents {
	width: 602px;
	height: 102px;
	float: left;
	margin-left: 6px;
	border: 1px solid #D1D6DE;
	resize: none;
	margin-top: 6px;
	margin-bottom: 6px;
}



.ui .input {
	width: 600px;
	height: 33px;
	border-radius: 0px;
}

#propose_report {
	margin-top: 50px;
	font-size: 23px;
	font-weight: bold;
	color: #3D4959;
	margin-bottom: 20px;
}

#propose_report_Btn {
	float: right;
	width: 90px;
	height: 33px;
	font-size: 13px;
	background: white;
	border: 2px solid #87A8D2;
	color: #575B5C;
	font-weight: bold;
}*/