@charset "UTF-8";

#header_div {
	padding-top: 48px;
	padding-left: 40px;
}

#header_div h1 {
	font-size: 23px;
	font-weight: bold;
	color: #3D4959;
}

#header_div button:nth-child(1) {
	color: #575B5C;
	font-size: 13px;
	font-weight: bold;
	float: right;
	width: 70px;
	height: 33px;
	background: white;
	border: 2px solid #575B5C;
}

#header_div button:nth-child(6) {
	margin-top: 14px;
	color: #6199B9;
	font-weight: bold;
	float: right;
	width: 70px;
	height: 33px;
	background: white;
	border: 2px solid #6199B9;
}

#header_div input[type="text"] {
	margin-top: 14px;
	border: 1px solid #DCE0E6;
}

#customer_text {
	width: 99.7%;
	height: 29px;
}

#Department, #employee {
	width: 44%;
	height: 29px;
}

#content_div {
	margin-top: 94px;
	height: 30px;
	padding-left: 40px;
}

#content_div div:nth-child(1) {
	width: 100%;
	height: 26px;
}

#content_div div button, p {
	float: left;
}

#content_div div p {
	padding-top: 4px;
	padding-left: 7px;
	color: #3D4959;
	font-size: 13px;
}

#filter_Btn {
	font-size: 13px;
	width: 50px;
	height: 25px;
	color: #99A5A8;
	background: white;
	border: 2px solid #99A5A8;
}

.filters {
	float: right;
	font-size: 13px;
}

.resultContents {
	width: 745px;
	height: 48px;
	border: 1px solid #DEE2E8;
	margin-bottom: 14px;
}

/* .resultContents p:nth-child(1) {
	width: 97%;
	margin-top: 11px;
	margin-left: 10px;
	font-size: 10px;
	color: #575B5C;
}

.resultContents p:nth-child(2) {
	width: 97%;
	margin-top: 11px;
	margin-left: 10px;
	font-size: 13px;
	color: #575B5C;
}

.resultContents p:nth-child(3) {
	width: 97%;
	margin-top: 12px;
	margin-left: 10px;
	font-size: 16px;
	font-weight: bold;
	color: #575B5C;
}

.resultContents p:nth-child(4) {
	width: 97%;
	margin-top: 11px;
	margin-left: 10px;
	font-size: 13px;
	color: #575B5C;
}

.resultContents p:nth-child(5) {
	width: 97%;
	margin-top: 11px;
	margin-left: 10px;
	font-size: 13px;
	color: #575B5C;
}

.resultContents button:nth-child(6) {
	color: #6199B9;
} */