@charset "UTF-8";

/*모달 공통*/
/* #header{background: #6199B9;width: 100%;height: 66px;} */
.header_Modal div {height:70px; color: white;font-size: 27px;padding-top: 17px;padding-left: 24px;font-weight: bold; background: #6199B9;}
.header_Modal div h1 {color: white;}
.header_Modal div i {float: right;margin-right: 20px;color: white;font-size: 40px;}

.table_modal{width: 100%; border-collapse: collapse;}
.table_modal{width: 100%;
             border-top: 2px solid #27AAE1;
             text-align: center;}
.table_modal td:nth-child(1){height: 50px; border-right: 1px solid #E5E5E5; background:#F8FCFF; vertical-align: middle;}
.table_modal td {border: 1px solid #E5E5E5;}
.contents_Modal {width: 90%;height: 300px;margin: auto; margin-top: 60px; margin-bottom: 60px;}
.contents_Modal_Div {height:90%; margin-top: 21px;}
.contents_Modal_Div input[type='button'] {float: right;}
.table_modal textarea {height: 190px; margin-top: 10px; margin-bottom: 10px;}


.result_Modal{height:280px; margin-top: 10px; border-top: 2px solid #6199B9;  border-bottom: 1px solid #E5E5E5; margin-bottom: 10px;}
.result_Modal div{height: 60px;  border-bottom: 1px solid #E5E5E5;}

.oneText td{text-align: center}
.oneText td input[type='text']{width: 100%;height: 95%; border: none;padding-left: 2%;}

.exit_Btn{float: right;margin-right: 20px;color: white;font-size: 40px;}

.year_calendar{float: left;}

#year_calendar div:nth-child(1){ float: left; margin-top: 7px; margin-left: 9px; border: 1px solid #E5E5E5; width: 200px;}

#duswn {margin-bottom: 30px;}

#alstjr select {bottom: 40px;}
