@charset "UTF-8";

      
        #header_div h1 {
            font-size: 23px;
            font-weight: bold;
            color: #3D4959;
            
        }
        #header_div button {
             float: right;
             margin-left: 6px;
          
             width: 60px;
             height: 30px;
            /*  font-weight: bold;
             font-size: 13px; */
       }
       
       #icon {
        float: right;
       
       }
       #calcel_Btn {
             border: 2px solid #FFCB00;
             color: #FFCB00; 
       }
      
      
       
       #table {
             width: 100%;
             border-top: 2px solid #27AAE1;
             text-align: center;
       }
       
        
       #table2 {
             width: 100%;
             border-top: 2px solid #27AAE1;
             text-align: center;
       }
       
       #table2 td {
             vertical-align: middle;
             border-bottom: 1px solid #E5E5E5;
       }
       #table2 td:nth-child(1) {
             width: 186px;
             height: 38px;
           /*   border-right: 1px solid #E5E5E5; */
       }
        #table3 {
             width: 100%;
             border-top: 2px solid black;
             text-align: center;
       }
       #table3 td {
             vertical-align: middle;
             border-bottom: 1px solid #E5E5E5;
       }
        #table3 td:nth-child(1) {
             width: 186px;
             height: 38px;
           /*   border-right: 1px solid #E5E5E5; */
       }
    
       
       #table td {
             vertical-align: middle;
             border-bottom: 1px solid #E5E5E5;
       }
      /*  #table td:nth-child(1):not(#start)  {
             width: 186px;
             height: 50px;
             border-right: 1px solid #E5E5E5;
       } */
       
       .td:nth-child(1) {
	width: 186px;
	height: 50px;
	border-right: 1px solid #E5E5E5;
	background: #F8FCFF;
}
      
       .common_Text1 {
             width: 600px;
             height: 33px;
             border: 1px solid #D1D6DE;
             float: left;
             margin-left: 6px;
       }
       .common_Text2 {
             width: 510px;
             height: 33px;
             float: left;
             margin-left: 6px;
             border: 1px solid #D1D6DE;
       }
       
     
       .point {
             color: #FFCB00;
             font-weight: bold;
       }
       .search_Btn {
             width: 67px;
             height: 37px;   
             background: white;
             border: 2px solid #575B5C;
             font-weight: bold;
             color: #575B5C;
             float: right;
             margin-right: 6px;   
             vertical-align: middle;
             font-size: 13px;
       }
       
       .delete_btn {
        width: 67px;
             height: 37px;   
             background: white;
             border: 2px solid #575B5C;
             font-weight: bold;
             color: #575B5C;
             
             margin-right: 6px;   
             vertical-align: middle;
             font-size: 13px;
       
       }
       #contents {
             width: 602px;
             height: 102px;
             float: left;
             margin-left: 6px;
             border: 1px solid #D1D6DE;
             resize: none;
             margin-top: 6px;
             margin-bottom: 6px;
       }
       .common_Text3 {
          width: 600px;
             height: 35px;
             background: #EAEAEA;
             float: left;
             margin-left: 6px;
             border: none;
       }
       .ui .input {
             width: 600px;
             height: 33px;
         border-radius: 0px;
       }
       #propose_report {
             margin-top: 50px;
             font-size: 23px;
             font-weight: bold;
            color: #3D4959;
            margin-bottom: 20px;
       }
       #propose_report_Btn {
             float: right;
             width: 90px;
             height: 33px;
             font-size: 13px;
             background: white;
             border: 2px solid #87A8D2;
             color: #575B5C;
             font-weight: bold;
       }
       
    
	


    .resultContents {
            width: 720px;
            height: 140px;
            border: 1px solid #DEE2E8;
            margin-bottom: 14px;
           
        }  
        
         .resultContent {
            width: 720px;
            height: 140px;
            border: 1px solid #DEE2E8;
            margin-bottom: 14px;
           
        }  
        
       
       