@charset "UTF-8";

        #header_div{
            padding-top: 48px;
            padding-left: 40px;
        }
        #header_div h1 {
            font-size: 23px;
            font-weight: bold;
            color: #3D4959;
        }
       
     
        
     
       
         #header_div input[type="text"] {
           /*  margin-top: 14px; */
            border: 1px solid #DCE0E6;
        } 
        #costomer_text{
           width: 49%;
           height: 37px;
            margin-right:10px;
        }
        #product_text {
         width: 49%;
            height: 37px;
        }
        #Department{
            width: 44%;
           height: 37px;
            margin-right:5px;
        }
        #employee {
            width: 44%;
           height: 37px;
        }
        #day_select {
        margin-top: 14px;
         width: 200px;
            height: 37px;
            margin-right:7px;
        
        }
        #content_div {
            margin-top: 94px;
            height: 30px;
            padding-left: 40px;
        }
        #content_div div:nth-child(1) {
            /* width: 100%; */
            height: 26px;
        }
        #content_div div button,p{
            float: left;
        }
        #content_div div p {
            padding-top: 8px;
            padding-left: 7px;
            color: #3D4959;
            font-size: 13px;
        }
        #filter_Btn {
            font-size: 13px;
            width: 50px;
            height: 25px;
            color: #99A5A8;
            background: white;
            border: 2px solid #99A5A8;
        }
        .filters {
            float: right;
            font-size: 13px;
        }
        .resultContents {
            width: 720px;
            height: 140px;
            border: 1px solid #DEE2E8;
            margin-bottom: 14px;
           
        }
        
       
