@charset "UTF-8";

.header_div h1 {
	font-size: 23px;
	font-weight: bold;
	color: #3D4959;
	height: 40px;
	display: inline-block;
}
.margin_righ {
	margin-right: 10px;
}
.header_div button {
	float: right;
	background: white;
	width: 70px;
	height: 33px;
	font-weight: bold;
	font-size: 13px;
	margin-right: 0;
}
#propose_report{
	width: 200px;
}
.fileUploadDiv div:nth-child(1) {
	margin-top: 41px;
}
.fileUploadDiv div:nth-child(1) h1{
	display: inline-block;
	vertical-align: middle;
	margin: 0px;
}
.cf_left { 
	float: left;	
}
#calcel_Btn {
	border: 2px solid #FFCB00;
	color: #FFCB00;
}

#submit_Btn {
	border: 2px solid #6199B9;
	color: #6199B9;
}

#table2 {
	border-top: 2px solid #6199B9;
	text-align: center;
	width: 100%;
}

#table2 td {
	vertical-align: middle;
	border-bottom: 1px solid #E5E5E5;
}

.td:nth-child(1) {
	width: 186px;
	height: 50px;
	border-right: 1px solid #E5E5E5;
	background: #F8FCFF;
}

.common_Text1 {
	width: 548px;
	height: 33px;
	border: 1px solid #D1D6DE;
	float: left;
	margin-left: 6px;
}

.common_Text2 {
	width: 446px;
	height: 33px;
	float: left;
	margin-left: 6px;
	border: 1px solid #D1D6DE;
}

.point {
	color: #FFCB00;
	font-weight: bold;
}

.contents {
	width: 548px;
	height: 102px;
	float: left;
	margin-left: 6px;
	border: 1px solid #D1D6DE;
	resize: none;
	margin-top: 6px;
	margin-bottom: 6px;
}

.common_Text3 {
	width: 600px;
	height: 35px;
	background: #EAEAEA;
	float: left;
	margin-left: 6px;
	border: none;
}

.ui:not(.calendar) .input {
	margin-left: 6px;
	width: 548px;
	height: 33px;
	border-radius: 0px;
}

#propose_report {
	margin-top: 50px;
	font-size: 23px;
	font-weight: bold;
	color: #3D4959;
	margin-bottom: 20px;
}

#propose_report_Btn, #propose_Request_Btn {
	float: right;
	width: 90px;
	height: 33px;
	font-size: 13px;
	background: white;
	border: 2px solid #87A8D2;
	color: #575B5C;
	font-weight: bold;
}
.header_Detail_div {
	padding-left: 40px;
	height: fit-content;
}

.header_Detail_div h1 {
	font-size: 23px;
	font-weight: bold;
	color: #3D4959;
	display: inline-block;
}

.header_Detail_div input[type="text"] {
	margin-top: 14px;
	border: 1px solid #DCE0E6;
}
#offer_submit {
	margin: 0;
}

.search_Btn {
	margin: 0;
	float: ri
}

#search_offer_Btn {
	margin-top: 14px;
}

.header_div input[type="text"] {
	border: 1px solid #DCE0E6;
}

#costomer_text {
	width: 99.7%;
	height: 29px;
}

#employee {
	width: 36%;
	height: 29px;
}

#content_div {
	margin-top: 60px;
	margin-bottom: 30px;
}

#content_div > div:nth-child(1) {
	height: 50px;
	vertical-align: middle;
	border-top: 1px solid #6199B9;
	padding-top: 10px;
}

#content_div div:nth-child(1) {
	/* margin-top: 15px; */
}
#content_div div button, p {
	float: left;
}

#content_div div p {
	padding-left: 7px;
	color: #3D4959;
	font-size: 13px;
}

#filter_Btn {
	font-size: 13px;
	width: 50px;
	height: 25px;
	color: #99A5A8;
	background: white;
	border: 2px solid #99A5A8;
}

.filters {
	float: right;
	font-size: 13px;
}

.resultContents {
	width: 745px;
	height: 96px;
	border: 1px solid #DEE2E8;
	margin-bottom: 14px;
	margin-right: auto;
	margin-left: auto;
}

/* .resultContents p:nth-child(1) {
	width: 97%;
	margin-top: 12px;
	margin-left: 10px;
	font-size: 16px;
	font-weight: bold;
	color: #575B5C;
}

.resultContents p:nth-child(2) {
	width: 97%;
	margin-top: 11px;
	margin-left: 10px;
	font-size: 13px;
	color: #575B5C;
}

.resultContents p:nth-child(3) {
	width: 97%;
	margin-top: 11px;
	margin-left: 10px;
	font-size: 13px;
	color: #575B5C;
} */

/* 견젹 */
/*====================================================================================================  */
#product_Name {
	float: left;
	width: 48.8%;
	height: 29px;
	margin-top: 14px !important;
	margin-left: 4px;
}

#search_estimate_Btn {
	margin-top: 8px;
}

.content_div {
	margin-top: 21px;
	height: 30px;
}

#content_Enrollment_Detail_div {
	height: 30px;
}

.Detail_a {
	float: left;
	margin-left: 6px;
	color: #819CFD;
	border-bottom: 1px solid #819CFD;
}

.Detail_a:hover {
	float: left;
	margin-left: 6px;
	color: #819CFD;
	border-bottom: 1px solid #819CFD;
	cursor: pointer;
}

.Detail_a2 {
	float: left;
	margin-left: 6px;
	color: black;
}

.Detail_a2:hover {
	float: left;
	margin-left: 6px;
	color: black;
}

#Department {
	width: 50%;
	height: 29px;
}

#costomer_text_esimate {
	width: 50%;
	height: 29px;
	float: left;
}

#estimate_h1 {
	height: 33px;
	margin: 0;
}

#enrollment_estimate_Btn {
	margin-right: 0px;
}

.text_text {
	margin-top: 10px;
}

.text_p {
	padding: 7px;
	color: #736B6B;
}

.enrollment_CheckBox {
	float: left;
	margin-left: 6px;
}

#estimate_Product_Table {
	width: 100%;
}

#estimate_Product_Table th {
	height: 36px;
	background: #F8FCFF;
	border-bottom: 1px solid #DCE0E6;
	vertical-align: middle;
}

#estimate_Product_Table th:not (:nth-last-child(1) ) {
	border-right: 1px solid #DCE0E6;
}

#estimate_Product_Table tr:nth-child(1) th {
	border-top: 2px solid #6199B9;
}

#estimate_Product_Table tr:nth-child(2) th:nth-child(2) {
	width: 123px;
}

#estimate_Product_Table tr:nth-child(1) th:nth-last-child(1) {
	width: 96px;
}

#estimate_Product_Table td {
	height: 33px;
	text-align: center;
	vertical-align: middle;
	border-bottom: 1px solid #E5E5E5;
}

#estimate_Product_Table tr:nth-last-child(1) th {
	text-align: left;
	padding-left: 6px;
}
/*=============================================================================================================*/
/* 계약 */
.contract_calendar {
	height: 29px;
	vertical-align: middle;
	float: left;
}

#exclamationMark {
	float: left;
	height: 29px;
	padding-top: 19px;
	margin-left: 10px;
	margin-right: 10px;
}

#contract_calendar_text {
	margin: 0 !important;
}

.two {
	float: left;
	height: 23px;
}

#contract_start_calendar {
	margin-top: 14px;
	width: 365px;
	margin-left: 0;
}

#contract_end_calendar {
	margin-top: 14px;
	width: 365px;
	margin-left: 0;
}

.contract_input_calendar {
	height: 12px;
	margin: 0px !important;
}
/*제안*/
/*====================================================================================*/
.Enrollment_Btn {
	float: right;
	margin-left: 10px;
}

p {
	margin-top: 4px !important;
	margin-bottom: 0 !important;
}

.download_Table {
	width: 100%;
}

.download_Table td {
	border: none;
	vertical-align: middle;
}

.download_Table button {
	float: right;
}
/*계약*/
/*=======================================================================================*/
.select_checkBox_div {
	float: left;
	margin-left: 6px;
}

.select_checkBox_div>select {
	width: 107px;
	height: 33px;
}

.select_checkBox_div>input[type='checkbox'] {
	height: 16px;
	width: 16px;
	vertical-align: middle;
}

.common_Text4 {
	height: 33px;
	width: 300px;
	float: left;
	margin-left: 6px;
	border: 1px solid #DCE0E6;
}

.common_Text4_p {
	padding-top: 5px;
	padding-left: 3px;
}

#propose_report>#product_add, #product_del {
	float: right;
	margin-left: 6px;
}

#contract_Product_Table th:nth-child(1), #contract_Product_Table th:nth-child(2)
	{
	border-right: 1px solid #DCE0E6;
}


#contract_Product_Table tr:nth-child(odd) th:nth-child(3) {
	border-right: 1px solid #DCE0E6;
}

#contract_Product_Table th {
	height: 34px;
}


#contract_Sales_Table {
	width: 100%;
	border-top: 2px solid #6199B9;
}

#contract_Sales_Table th {
	height: 50px;
	vertical-align: middle;
	background: #F8FCFF;
}

#start_calendar {
	width: 109%;
	float: left;
}

#contract_exclamationMark {
	margin-left: 38px;
	margin-right: 3px;
}
/*제품관리*/
/*=============================================================================*/
#contentDiv {
	border: 1px solid #E5E5E5;
	width: 33%;
	display: inline-block;
	height: 830px;
	margin-right: 20px;
	float: left;
}

#contentDiv2 {
	border: 1px solid #E5E5E5;
	width: 64%;
	display: inline-block;
	height: 830px;
	margin-bottom: 10px;
}

#contentDiv2_1 {
	width: 65%;
	float: left;
	margin-bottom: 10px;
	height: 30px;
}

#contentDiv2_2 {
	margin-top: 3px;
	border: 1px solid #E5E5E5;
	width: 65%;
	float: left;
	height: 415px;
	white-space: nowrap;
	overflow: auto;
}

#calcel_Btn {
	margin-left: 12px;
	width: 60px;
	height: 30px;
}

#submit_Btn {
	width: 60px;
	height: 30px;
}

#modify_Btn {
	margin-left: 12px;
	width: 60px;
	height: 30px;
}

#contentDiv div:nth-child(1) {
	border-bottom: 2px solid #6199B9;
}

#contentDiv div:nth-child(2) {
	height: 48px;
	border-bottom: 1px solid #E5E5E5;
}

#contentDiv2 div:nth-child(1) {
	border-bottom: 2px solid #6199B9;
}

#contentDiv div:nth-child(2) p {
	margin-left: 10px;
	margin-top: 15px !important;
	float: left;
	color: #6199B9;
}

#contentDiv2 div:nth-child(2) p {
	margin-left: 10px;
	margin-top: 15px !important;
	float: left;
	color: #6199B9;
}

#contentDiv div:nth-child(2) input[type="text"] {
	width: 134px;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	height: 25px;
	float: left;
	border: 1px solid #E5E5E5;
}

#contentDiv div:nth-child(2) input[type="button"] {
	margin-top: 11px;
	width: 34px;
	height: 25px;
	float: left;
	border: none;
	background: #6199B9;
	color: white;
}

#product_Table {
	width: 100%;
	height: 90%;
	margin-top: 5px;
}

#product_Table td {
	height: 45px;
	text-align: center;
}

#product_Table td input[type='text'] {
	margin-top: 6px;
	height: 25px;
	border: 1px solid #E5E5E5;
}

#product_Table tr:nth-last-child(1) td {
	height: 140px;
}

#product_Table tr:nth-last-child(1) td h6 {
	text-align: left;
	margin-left: 25px;
	color: #6199B9;
}

#product_Table p {
	width: 53px;
	float: left;
	margin-left: 25px;
	margin-top: 10px !important;
	color: #6199B9;
	text-align: left;
	font-size: 14px;
}

#product_Table textarea {
	width: 470px;
	height: 91px;
	margin-top: 10px;
	resize: none;
	border: 1px solid #E5E5E5;
}

#contentDiv2_2 div:nth-child(1) {
	border-bottom: 2px solid #6199B9;
}

#product_Table2 {
	width: 100%;
}

#product_Table2 th {
	background: white;
	border-right: none;
	border-bottom: 1px solid #E5E5E5;
	height: 27px;
	vertical-align: middle;
	color: #6199B9;
}

#product_Table2 td  div  p {
	font-size: 14px;
}
/*관리자*/
/*==================================================================================*/
/* 월별고객접점현황 */
#admin_search_div {
	margin-top: 15px;
	width: 100%;
	height: 54px;
	background: #FBFCFD;
	border: 1px solid #E1E6EB;
	margin-bottom: 15px;
}

#admin_search_div h5 {
	margin-left: 20px;
	margin-top: 20px;
	float: left;
	color: #0474AF;
	height: 21px;
}

#admin_search_div>select {
	margin-left: 20px;
	margin-top: 11px;
	width: 200px;
	height: 30px;
	border: 1px solid #CECECE;
	border-radius: 3px;
}

#admin_search_div>button {
	margin-right: 10px;
	float: right;
	margin-top: 7px;
}

#tree_box {
	border: none;
	padding: 20px;
}

.tree_box .title {
	padding: 5px 0 5px 19px;
	background: #f8f8f9;
	border-bottom: 1px solid #ccd3d9;
}

.tree_box .title strong {
	margin-right: 12px;
}

.tree_menu {
	line-height: 18px;
}

.tree_menu strong {
	font-weight: normal;
}

.tree_menu label input {
	vertical-align: -2px;
}

.tree_menu .depth_1 a {
	vertical-align: bottom;
	text-decoration: none;
}

.tree_menu .depth_1 strong {
	padding-left: 19px;
	background:
		url(http://cfile26.uf.tistory.com/image/224E6B45569458082AA795)
		no-repeat 0px 2px;
}

.tree_menu .depth_2 li {
	margin-top: -2px;
	background:
		url(http://cfile9.uf.tistory.com/image/22601F4B569457FF051E7E)
		no-repeat 5px 0px;
}

.tree_menu .depth_2 li a em {
	display: inline-block;
	width: 31px;
	height: 11px;
	background:
		url(http://cfile27.uf.tistory.com/image/2265AB4B569457FD1306CB) 100% 0;
	font-size: 0;
	line-height: 0;
	vertical-align: middle;
}

.tree_menu .depth_2 li a em.on {
	background-position: 0 100%;
}

.tree_menu li.last {
	background: none;
}

.tree_menu li.last {
	background: none;
}

.tree_menu .depth_3 {
	display: none;
	padding-left: 23px;
}

.tree_menu .depth_3 li {
	margin: 0;
	padding: 3px 0 0 14px;
	line-height: 1;
	background:
		url(http://cfile8.uf.tistory.com/image/2456D34B569457FC14828D)
		no-repeat 0 0;
}

.tree_menu .depth_3 li a {
	display: block;
	padding-left: 15px;
	background:
		url(http://cfile26.uf.tistory.com/image/216841455694580A1ADE12)
		no-repeat 0 2px;
}

.msie6 .tree_menu .depth_3 li a {
	display: inline-block;
}

.tree_menu li.end {
	background:
		url(http://cfile23.uf.tistory.com/image/2272CF4B5694580418FF9C)
		no-repeat 0 0;
}

.form_tree_menu .depth_1 {
	background:
		url(http://cfile9.uf.tistory.com/image/22601F4B569457FF051E7E)
		no-repeat 5px 5px;
}

.form_tree_menu ul.depth_2 li {
	margin-left: 6px;
	padding-left: 27px;
	background:
		url(http://cfile25.uf.tistory.com/image/2757834B5694580514C5D6)
		no-repeat 0 5px;
}

#contentDiv2 button {
	float: right;
	margin-top: 11px;
	margin-right: 5px;
	background: white;
}

#contentDiv2 div:nth-child(2) {
	height: 49px;
	border-bottom: 1px solid #E5E5E5;
}

#contentDiv2 div:nth-child(3) {
	height: 90%;
	overflow: auto;
}

#contentDiv2 div:nth-child(3) table {
	width: 1133px;
}

#contentDiv2 div:nth-child(3) table th:nth-child(1) {
	width: 199px;
	height: 30px;
}

#contentDiv2 div:nth-child(3) table th:nth-child(n+2):nth-child(-n + 14)
	{
	width: 71px;
}

#contentDiv2 div:nth-child(3) table th {
	border-bottom: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	background: white;
	color: #6199B9;
	vertical-align: middle;
}

#contentDiv2 div:nth-child(3) table td {
	border-bottom: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	background: white;
	vertical-align: middle;
	height: 30px;
}

#contentDiv2 div:nth-child(3) table td:nth-child(1) {
	text-align: left;
	font: 13px;
}

#contentDiv2 div:nth-child(3) table td:nth-child(n+2):nth-child(-n + 14)
	{
	text-align: right;
	font: 13px;
	padding-right: 5px;
}

#contentDiv2 div:nth-child(3) table th:nth-last-child(1) {
	border-right: none;
}

.exel_Btn {
	border: 2px solid green;
	color: green;
}

.reset_Btn {
	border: 2px solid red;
	color: red;
}
/* =============================================================================================================== */
/* 월별매출현황 */
#monthSealse_calendar {
	width: 167px;
	margin-top: 10px;
	margin-left: 10px;
	float: left;
}

#standard_calendar {
	/* width: 95%; */
	
}

#monthSealse_calendar input[type='text'] {
	padding: 0;
}

#admin_search_div div {
	float: left;
}

#standard_calendar>div:nth-child(n+2):nth-child(-n+3) input[type='text']
	{
	height: 29px;
	border: 1px solid #E5E5E5;
	margin-top: 10px;
}

#standard_calendar button {
	float: right;
	margin: 8px;
}

#monthSalse_contant_div {
	width: 100%;
	height: 820px;
}
/* 그래프 */
#header_div {
	padding: 0;
}

.cld {
	background: #EAEAEA;
}

.table2 th:nth-child(1) {
	width: 63px;
}

.table2 th {
	background: #FBFCFD;
}

.table2 tr:nth-child(even) {
	background: #F5F9FB;
}

.table2 {
	/* table-layout:inherit; */
	width: 3000px;
	border-top: 2px solid #27AAE1;
}

.table2 tr:nth-last-child(n+2):nth-last-child(-n + 5) td {
	border: none;
	background: white;
}

.table2 tr * {
	text-align: center;
	border-bottom: 1px solid #E1E6EB;
	height: 38px;
	vertical-align: middle;
}

.table2 tr *:not (:last-child ){
	border-right: 1px solid #E1E6EB;
}

.notice {
	color: #6B6B6B !important;
	margin-bottom: 0;
}

#employee {
	width: 35%;
	margin-right: 12px;
	height: 29px;
	border-radius: .28571429rem;
	padding-left: 10px;
}

#content_div {
	margin-top: 0;
}

.same {
	width: auto;
}

.paging {
	margin-top: 10px;
}

.right {
	float: right;
}

.icon2 {
	font-size: 2em;
	color: #27AAE1;
}

input[type="text"] {
	/* margin-bottom:10px; */
	
}

.bar {
	width: 100%;
	height: 38px;
	border-radius: .28571429rem;
}

.ui.input.right.icon.bar {
	margin-bottom: 10px;
}

.halfbar {
	width: 44%;
	height: 38px;
	border-radius: .28571429rem;
	padding-left: 10px;
}

#search {
	margin-top: 0;
	height: 50px;
	float: right;
	margin-left: 14px;
}
.search{
	height: 150px;
}
.resultContents > p:nth-child(1) {
	padding-top: 10px;
}
#monthSalse_contant_div div:nth-child(2) {
	width: 100%;
	height: 26px;
}

#monthSalse_contant_div div:nth-child(3) {
	overflow: auto;
}
/* 고객현황 */
/* ======================================================================== */
#header_Detail_div2 {
	width: 100%;
	height: 102px;
	border: 1px solid #E1E6EB;
}

#customerStatus_calendar {
	width: 100%;
	margin-top: 33px;
	margin-left: 10px;
	float: left;
}

#customerStatus_calendar input[type='text'] {
	width: 155px;
}

#exclamationMark2 {
	margin-left: 23px;
	margin-top: 40px !important;
}

#customerStatus_select {
	float: left;
	margin-left: 67px;
	margin-top: 33px;
	height: 33px;
	width: 200px;
}

#customerStatus_search_Btn {
	float: right;
	margin-top: 31px;
	margin-right: 20px;
}

#customerStatus_graphAndData {
	width: 100%;
	margin-top: 21px;
	text-align: center;
}

#customerStatus_search_div {
	width: 100%;
}

#customerStatus_search_div > div:nth-child(2) {
	width: 100%;
	margin-top: 21px;
	text-align: right;
	margin-bottom: 21px;
}

#customerStatus_search_div > div:nth-child(3) {
	width: 50%;
	height: 400px;
	float: left;
}

#customerStatus_search_div > div:nth-child(4) {
	width: 50%;
	height: 400px;
	float: left;
}

#customerStatus_graphAndData td {
	border: none;
	height: 33px;
}
/*검색 바*/
.half {
	width: 49.5%;
	display: inline-block;
}
.half input:nth-child(n+1):nth-child(-n+2) {
	width: 100%;
}

.select, .input {
	display: inline-block;
}

.one input {
	width: 100%;
}

.one {
	padding-top: 10px;
	padding-left: 10px;
}
.field div div:not(.calendar) {
	float: left;
	margin-left: 6px;
	width: 548px;
}

.select {
	width: 49.5%;
	padding-left: 10px;
}

.search div input {
	height: 36px;
	border: 1px solid #D7DBDF;
	border-radius: .28571429rem;
	padding-left: 5px;
}

.select select {
	width: 100%;
	height: 36px;
	border: 1px solid #D7DBDF;
	border-radius: .28571429rem;
}

.input input {
	width: 78%;
	border-radius: .28571429rem;
	border: 1px solid #D7DBDF;
	height: 36px;
}

.input {
	width: 49.5%;
}
.float {
	float: right;
}

.secondSearchDiv {
	margin-top: 10px;
	margin-bottom: 10px;
}

.oneFifth {
	width: 20%;
	display: inline-block;
	padding-left: 10px;
}

.oneFifth select {
	width: 100%;
	height: 36px;
	/* margin-left:10px; */
}

.fourFifth {
	width: 79%;
	display: inline-block;
}

.oneThird {
	width: 33%;
	display: inline-block;
}

.fLeft {
	float: left;
}

.one .oneThird .input {
	padding-left: 0;
	padding-right: 5px;
}
.searchBtn{width: 67px;}
.ui.grey.basic.button.srch{font-size: 13px;padding: 9px; margin-bottom: 10px;}
.ui.grey.basic.button.srch:hover{background: #767676;color: white;}
.bottom.black {border-bottom: 1px solid #6199B9; margin-bottom: 10px;}
.fileUploadDiv li  {margin-bottom: 10px;}
.resultContents p{width: 100%;}
.estumateproduct{margin-top: 21px; border-bottom: 1px solid #6199B9;}
.estumateproduct h1{display: inline-block; font-size: 24px;}
.estumateproduct button {float: right;}
.estumateTable{width: 100%;}
.estumateTable th{border-bottom: 1px solid #E5E5E5; border-right: 1px solid #E5E5E5; vertical-align: middle;background: #FBFCFD;}
.estumateTable th:nth-last-child(1){border-right: none;}
.estumateTable tr:nth-child(1) th:nth-child(1){width: 35%; height: 33px;}
.estumateTable tr:nth-child(1) th:nth-child(2){width: 20%; height: 33px;}
.estumateTable tr:nth-child(1) th:nth-child(3){width: 17.5%; height: 33px;}
.estumateTable tr:nth-child(2) th:nth-child(4){width: 35%; height: 33px;}
.estumateTable tr:nth-child(2) th:nth-child(1){width: 17.5%; height: 33px;}
i.ico {
  display: inline-block;
}
.tabs.tab_activity {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 35px;
}
.tabs.tab_activity li::before {
	content: "";
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
	bottom: -1px;
	border-bottom: 2px solid #dfdfdf;
}

.tabs.tab_activity li {
	float: left;
	position: relative;
	width: 50%;
	display: block; /* margin-right:3px; */
}

.tabs.tab_activity li a {
	color: #939393;
	font-size: 13px;
	min-width: 180px;
	padding: 10px 0;
	display: block;
	text-align: center;
	position: relative;
}

.tabs.tab_activity li a::before {
	background-color: #667277;
	z-index: 2;
	content: "";
	height: 2px;
	left: 0;
	position: absolute;
	top: 33px;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	width: 100%;
}

.tabs.tab_activity li a:hover::before, .tabs.tab_activity li a.active::before
	{
	transform: scale(1);
}

.tabs.tab_activity li a:focus, .tabs.tab_activity li a:hover, .tabs.tab_activity li a:active,
	.tabs.tab_activity li a.active {
	font-weight: bold;
	color: #667277 !important;
	outline: none;
}

.tabs.tab_activity li a i {
	margin-right: 10px;
}

.tab_content {
	padding-top: 20px;
	min-height: 600px;
}
	vertical-align: middle;
	background: url(../../images/sprite_img.png) no-repeat;
	-webkit-background-size: 610px 300px;
	-moz-background-size: 610px 300px;
	background-size: 610px 300px;
	-webkit-background-size: 610px 300px;
	-moz-background-size: 610px 300px;
	background-size: 610px 300px;
}