@charset "UTF-8";


/* html, body, span, h1, h2, h3, h4, h5, h6, p, a, img, strong, sub, sup, b, i, dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article,  footer, header, nav, section{margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;color: #5D5D5D;font-family: 'Nanum Gothic', sans-serif;}
ol, ul {list-style: none;}
table {border-collapse: collapse;border-spacing: 0;}
a{color: #5D5D5D;text-decoration: none;}
#header{background-color: #6199B9; height: 65px;}
.inner_ct{margin: 0 auto;width: 1080px;}
.inner_ct::after{content: "";clear: both;display: block;}
#header .logo img{height: 28px;display: inline-block;padding: 18px 0 0 33px;}
#header .logo{float: left;}
#header .nav{float: left;padding: 23px 0 0px 45px;}
#header .nav a{font-size: 18px;font-weight: 800;color: white;padding: 0 18px 0 0px;}
#header .name{float: right; padding: 23px 0 0 0;}
#header .name a{color: white;font-weight: 700;}
#header .navRight{float: right;}
#header .navRight{padding-top: 20px;padding-left: 18px; display: inline-block;padding-right: 18px;}
#header .navRight a:not(:first-child){display: inline-block;padding-left: 18px;} */
/*왼쪽 매뉴css시작*/
/* #container .menu{float: left;width: 220px;border-color: #ff0;position: absolute;}
#container .menu .sub_menu{display: none;}
#container .menu .main_menu>a{padding: 21px 15px;text-align: center;font-size: 14px; font-weight: 800; color: #929FA2;display: block;}
#container .menu .main_menu.on>a{color: white; background: #6199B9;}
#container .menu .main_menu.open>a{color: white; background: #6199B9;}
#container .menu .main_menu>a:hover{color: white; background: #6199B9;} */
/*#container .menu .main_menu:not(:first-child){border-top: 1px solid #DCE0E6;}*/
/* #container .menu .main_menu:not(:first-child)>a{border-top: 1px solid #DCE0E6;}
#container .menu .sub_menu{padding: 8px 0;background: #E5EEF3;}     
#container .menu .main_menu.on .sub_menu{display: block;}
#container .menu .sub_menu a{display: block;text-align: center;font-size: 13px;font-weight: 700;color: #929FA2;padding: 8px 0px;}
#container .menu .sub_menu a:hover{color: #5D5D5D;}
#container .menu .sub_menu .sub_menu_list.on a{color: #5D5D5D;font-weight: 800;}

.menu .menu_cnt{margin-top: 25px; border-bottom: 2px solid #BAC2CE; border-top: 2px solid #BAC2CE;} */
/*왼쪽 메뉴 css 끝*/
/*메인화면 css 시작*/
/* #container .main_ctn{float: left;width: calc(100% - 220px);background-color: #0ff;padding: 20px;margin-left: 230px;margin-top: 25px;} */
/* #container .main_ctn{float: left;width:800px;background-color: white;padding: 20px;margin-left: 230px;margin-top: 25px;}
#container .main_ctn .title{font-size: 22px;} */
/*메인화면 css 끝*/
/*테이블 css*/
/* #container .main_ctn .tb{border-top: 2px solid #6199B9;width: 100%;}
#container .main_ctn .tb tr{border-bottom: 1px solid #929FA2;} */



/*로그인화면 css*/
#container .loginMain{border-top: 1px solid #6199B9;border-bottom: 1px solid #6199B9;height: 440px;margin-left: auto; margin-right: auto; margin-top: 180px; width: 1000px;}
#container .loginMain .logoArea{text-align: center;margin-top: 45px;}
#container .loginMain .logoArea .logoImg{margin-bottom: 10px;}
#container .loginMain .inputArea .loginForm{text-align: center;margin-top: 40px;}
#container .loginMain .inputArea .loginTable{margin-left: auto;margin-right: auto;text-align: left;font-size: 16px;}
#container .loginMain .inputArea .loginTable th{color: #6199B9;font-weight: 700;}
#container .loginMain .inputArea .loginTable .input{height: 33px; width: 213px;margin-left: 30px;margin-bottom: 10px; border: 1px solid #929FA2; border-radius: 5px; font-size: 100%;}
#container .loginMain .inputArea .loginForm .loginBtn{height: 46px;width: 353px;border: 1px solid #6199B9;background: #6199B9; border-radius: 5px; color: white; font-size: 14px; font-weight: 700;}
#container .loginMain .inputArea .loginForm .loginBtn:hover{color:#6199B9;background: white;border: 1px solid #6199B9;}



/*영업사원메인 css*/
#container .content .top_content{margin-bottom: 30px;}
#container .content:not(.not) .left{width: 365px;height: 250px;border: 1px solid #BAC2CE;display: inline-block;margin-right: 30px;position: relative;}
#container .content:not(.not) .right{width: 365px;height: 250px; border: 1px solid #BAC2CE;display: inline-block;position: absolute;}
#container .content h4{font-size: 14px; color: #3D4959;font-weight: 700;margin-left: 10px;margin-bottom: 5px;margin-top: 10px;}
#container .content .top_content ul{border-top:2px solid #929FA2; width: 95%;margin-left: auto;margin-right: auto;}
#container .content .top_content li>a{color: #5D5D5D;text-decoration: none;display: block;padding: 10px 16px 10px 0;position: relative;border-bottom: 1px solid #BAC2CE;font-size: 13px;}
#container .content .bottom_content ul{border-top:2px solid #929FA2; width: 95%;margin-left: auto;margin-right: auto;}
#container .content .bottom_content li>a{color: #5D5D5D;text-decoration: none;display: block;padding: 10px 60px 10px 0;position: relative;border-bottom: 1px solid #BAC2CE;font-size: 13px;}
#container .content .see_more{display: block;position: absolute;right: 15px;top: 11px;font-size: 12px;color: #646464;}
#container .content .notice{margin-left: 5px;}
#container .content .emp{float:right;}

/*차트영역css*/
#container .content .chartArea .change_chart {margin-bottom: 10px;}
#container .content .chartArea .change_chart ul{/*overflow: hidden;*/position: relative;width: 100%;height: 35px;}
#container .content .chartArea .change_chart li{float: left;position: relative;width: 50%;display: block;}
#container .content .chartArea .change_chart li a{font-size: 13px;min-width: 180px;padding: 10px 0;display: block;text-align: center;position: relative;border-bottom: 1px solid #929FA2;color: #575B5C;}
#container .content .chartArea .change_chart li a:hover{border-bottom: 2px solid #5D5D5D;font-weight: 700;}
#container .content .chartArea .chart1{float:left;width: 50%; height: 388px;position: relative;}
#container .content .chartArea .chart2{float:left;width: 50%; height: 388px;position: relative;}
#container .content .chartArea .view_chart{clear: both; overflow: hidden;display: block;}

#container .content .sell_title{border-bottom: 2px solid #929FA2; width: 95%;margin: 0 10px;}
#container .content .sell_title h4{margin-left: 0;}
#container .content .yscroll{overflow-y: auto;height: 144px;}
#container .content .yscroll table{width: 95%;margin-left: auto;margin-right: auto;}
#container .content .yscroll table th{padding: 10px 0 10px 10px;font-size: 13px;font-weight: 700;text-align: left;border-bottom: 1px solid #929FA2}
#container .content .yscroll table td{padding-right: 7px;font-size: 13px;text-align: right;border-bottom: 1px solid #929FA2;}
#container .content .rankTable{width: 95%;margin-left: auto;margin-right: auto;}
#container .content .rankTable th{padding: 10px 0 10px 10px;font-size: 13px;font-weight: 700;text-align: center;border-bottom: 1px solid #929FA2}
#container .content .rankTable td{padding: 10px 0 10px 10px;font-size: 13px;text-align: center;border-bottom: 1px solid #929FA2;}
#container .content .myRankSpan{display: block;position: relative;margin:10px;font-size: 18px;text-align: center;}
#container .content .myTr{background: cornsilk;}
#container .content .total_table{width: 95%;margin-left: auto;margin-right: auto;}
#container .content .total_table th{text-align: left;padding: 10px 0 10px 10px;font-size: 13px;font-weight: 700;color: #ff4637;border-bottom: 1px solid #929FA2;}
#container .content .total_table td{padding-right: 12px;font-size: 13px;text-align: right;color: #ff4637;border-bottom: 1px solid #929FA2;}
#container .rankTable{width:100%;}
#container .dot{ width: 15px;vertical-align: middle;}



/* 고객 현황 */
.total h2{font-size: 18px;margin-bottom: 0;}
.total p{margin-bottom: 0;}
.total .customer { clear:left; overflow:hidden;}
.total .customer  >div { float:left; padding:25px 11px 30px; text-align:center; margin-left:2%; background-color:#fff; border:1px solid #E1E6EB; border-radius:2px;}
.total .customer >div:first-child { margin-left:0;}
.total .customer .round { width:95px; height:95px; margin:0 auto; padding-top:29px; border-radius:50%;}
.total .customer .round strong { font-size:20px; color:#fff;}
.total .customer .cus .round { background-color:#6199B9;}
.total .customer .com .round { background-color:#97a1a9;}
.total .customer .coms .round { background-color:#4b545b;}
.total .customer i.ico { display:block; height:25px; margin:0 auto 8px;}
.total .customer .cus i { width:27px; background: url(../../images/ico_cus.png) no-repeat; -webkit-background-size:27px 25px; -moz-background-size:27px 25px; background-size:27px 25px;}
.total .customer .com i { width:27px; background: url(../../images/ico_com.png) no-repeat; -webkit-background-size:27px 25px; -moz-background-size:27px 25px; background-size:27px 25px;}
.total .customer .coms i { width:34px; background: url(../../images/ico_coms.png) no-repeat; -webkit-background-size:34px 25px; -moz-background-size:34px 25px; background-size:34px 25px;}
.total .customer >div p { margin-top:20px; padding:12px 0; font-size:15px; font-weight:bold; color:#fff; background-color:#10485F; border-radius:2px;}

.total .opact { clear:both; overflow:hidden;}
.total .opact .op { float:left; width:45%; padding:4px; border:1px solid #E1E6EB; background-color:#fff; border-radius:2px;}
.total .opact .op h3 { padding:17px 0; font-size:20px; font-weight:normal; color:#fff; text-align:center; background-color:#10485F; margin:0;height:auto; border-radius:2px;}
.total .opact .act { float:right; width:45%; padding:4px; border:1px solid #E1E6EB; background-color:#fff;}
.total .opact .act h3 { padding:17px 0; font-size:20px; font-weight:normal; color:#fff; text-align:center; background-color:#10485F;margin:0;height:auto;line-height:auto;}
.total .opact ul li { position:relative; padding:12px 0 12px 4px; font-size:18px; border-top:1px solid #f2f2f2;}
.total .opact ul li em { display:block; position:absolute; right:5px; top:50%; min-width:45px; margin-top:-16px; padding:7px 0; color:#fff; text-align:center; background-color:#6199B9; border-radius:2px;font-style: normal;}
.total .opact ul li:first-child { border-top:none;}
.total .opact .act ul li { padding:19px 0 19px 4px;}
.total .opact .act ul li:first-child { padding:20px 0 19px 4px;}


/* 영업 현황 */
.total .shclear { clear:both; overflow:hidden; margin-top:5px;}
.total .shclear .shclear_pos { position:relative; margin-top:20px; padding:20px 9px 9px; text-align:center; background-color:#E1E6EB; border-radius:2px;}
.total .shclear h3 { display:inline-block; position:absolute; left:50%; top:-13px; width:60%; height:26px; margin-left:-30%; font-size:14px; color:#fff; line-height:25px; text-align:center; background-color:#10485F; margin-top: 0;margin-bottom: 0; border-radius:2px;}
.total .shclear .left { float:left; width:49%;}
.total .shclear .right { float:right; width:49%;}
.total .shclear .right h3 { background-color:#6199B9;}
.total .shclear .right ul { padding:0 20px; background-color:#fff; border-radius:5px;}
.total .shclear .right ul li { clear:both; overflow:hidden; padding:0 5px; border-top:1px solid #cacaca;}
.total .shclear .right ul li em { display:block; float:left; height:60px; font-size:15px; color:#959595; line-height:58px;font-style: normal;}
.total .shclear .right ul li strong { display:block; float:right; height:59px; line-height:58px; font-size:32px;}
.total .shclear .right ul li strong.point { color:#6199B9;}
.total .shclear .right ul li strong.point2 { font-size:28px; color:#6199B9;}
.total .shclear .right ul li:first-child { border-top:none;}
.total .shbox { clear:left; overflow:hidden; padding:10px 0; background-color:#fff; border-radius:5px;}
.total .shbox .shtxt { float:left; width:32.3333%; text-align:center; border-left:1px solid #cacaca;}
.total .shbox .shtxt:first-child { border-left:none;}
.total .shbox .shtxt p { font-size:15px; color:#959595;}
.total .shbox .shtxt strong { display:block; margin-top:10px; font-size:18px;}
.total .shbox .shtxt strong.point { color:#6199B9;}
.total span.subtxt { font-size:16px; color:#595959;}
.total .shclear.style .shbox .shtxt { width:50%;}
.total .shclear.style .right ul li em,
.total .shclear.style .right ul li strong { height:91px; line-height:90px;}

/* chart_layout */
.w_full {clear:both;width:100%;}
.f_left {float:left;position:relative;}
.f_right {float:right;position:relative;}
.f_right::after {content:'';clear:both;display:block;}
.w_half {width:49%;position:relative;min-height:300px;margin-right: -25px;}
.clearfix {clear:both;}

.datehard {text-align:right;font-weight:bold;padding: 15px 5px 15px 15px;font-size: 13px;}


/* 영업활동
**********************************************/
.act {
	
}

.act .content:not(.not) .calendar {
	float: left;
	width: 57%;
}

.act .calendar .notes {
	margin-top: 18px;
	font-size: 14px;
	color: #575757;
	text-align: right;
}

.act .calendar .notes i {
	margin-left: 5px;
}

.act .schedule {
	float: right;
	width: 40%;
	border-bottom: 1px solid #E1E6EB;
}

.act .schedule .sc_select {
	position: relative;
	height: 33px;
}

.act .schedule .sc_select button.select {
	width: 100%;
	height: 33px;
	padding-right: 15px;
	line-height: 32px;
	vertical-align: middle;
	border: 1px solid #E1E6EB;
	border-radius: 2px;
	background: #fff url(../../images/all/calendar_blet.png) no-repeat right
		center;
}

.act .schedule .sc_select button.select span {
	display: inline-block;
	vertical-align: middle;
}

.act .schedule .sc_select button.select span.ellipsis {
	width: 45%;
	text-align: left;
}

.act .schedule .sc_select .poa {
	position: absolute;
	right: 0;
	top: 0;
}

.act .schedule .sc_select .poa button {
	min-width: inherit;
	padding: 0 8px;
	position: absolute;
	right: 32px;
	margin: 0;
}

.act .schedule .notes {
	margin-top: 18px;
	font-size: 14px;
	color: #575757;
	text-align: right;
}

.act .schedule .sc_title {
	height: 46px;
	margin-top: 10px;
	padding-left: 8px;
	font-size: 14px;
	font-weight: bold;
	line-height: 39px;
	background-color: #fafafa;
	border-top: 5px solid #afafaf;
	border-bottom: 1px solid #E1E6EB;
	color: #333;
	font-size: 1.1em;
}

.act .schedule .sc_title>img {
	margin-left: 8px;
	margin-right: 10px;
}

.act .schedule .sc_title i {
	display: inline-block;
	width: 22px;
	height: 21px;
	margin: -2px 6px 0 0;
	vertical-align: middle;
	background-image: url(../../images/sprite_img.png);
	background-repeat: no-repeat;
	-webkit-background-size: 610px 300px;
	-moz-background-size: 610px 300px;
	background-size: 610px 300px;
}

.act .schedule .sc_title i.ico_caleder {
	background-position: -172.5px -95px;
}

.act .schedule .sc_title .btn_right {
	float: right;
}

.act .schedule .sc_title .btn_right .button {
	background-color: #fff;
	border: 1px solid #80b1c7;
	min-width: 40px;
	padding: 0;
	background-position: 50% 50%;
}

.act .schedule .sc_title .btn_right .button:hover, .act .schedule .sc_title .btn_right .button:focus,
	.act .schedule .sc_title .btn_right .button:active {
	background-color: #e9eff1;
}

.act .schedule ul.sc_list li {
	position: relative;
	padding: 5px 0;
	border-top: 1px dashed #d2d2d2;
}

.act .schedule ul.sc_list li a {
	color: #5d5d5d;
}

.act .schedule ul.sc_list li button.close {
	position: absolute;
	right: 0;
	top: 50%;
	min-width: inherit;
	height: 23px;
	margin-top: -12px;
	padding: 0 6px;
	font-family: '돋움', Dotum;
	color: #5d5d5d;
	line-height: 21px;
	border: 1px solid #999;
	background-color: #fff;
	border-radius: 2px;
}

.act .schedule ul.sc_list li button.close:hover {
	color: #fff;
	border: 1px solid #008aab;
	background-color: #27aae1;
}

.act .schedule ul.sc_list li:first-child {
	border-top: none;
}

.act .schedule table {
	
}

.act .schedule table tbody td {
	padding: 3px 23px 3px 0;
	vertical-align: middle;
}

.act .schedule table tbody td.center {
	padding: 0;
	text-align: center;
}

.act .schedule ul.work {
	
}

.act .schedule ul.work>li {
	position: relative;
	padding: 10px 5px 10px 39px;
	border-top: 1px dashed #d2d2d2;
	background-color: #f6f8fb;
}

.act .schedule ul.work>li i.ico {
	position: absolute;
	left: 7px;
	top: 50%;
	margin-top: -9px;
}

.act .schedule ul.work>li>ul li {
	padding: 1px 0;
	line-height: 16px;
}

.act i.ico_plan {
	width: 19px;
	height: 19px;
	margin: -3px 3px 0 0;
	background-position: 0 -170px;
}

.act i.ico_run {
	width: 19px;
	height: 19px;
	margin: -3px 3px 0 0;
	background-position: -25px -170px;
}

.act i.ico_friendly {
	width: 19px;
	height: 19px;
	margin: -3px 3px 0 0;
	background-position: -50px -170px;
}

.act i.ico_personal {
	width: 19px;
	height: 19px;
	margin: -3px 3px 0 0;
	background-position: -75px -170px;
}

.act i.ico_work {
	width: 19px;
	height: 19px;
	margin: -3px 3px 0 0;
	background-position: -100px -170px;
}

.act i.ico_todo {
	width: 19px;
	height: 19px;
	margin: -3px 3px 0 0;
	background-position: -125px -170px;
}

.act .proceeding {
	
}

.act .proceeding .list {
	padding: 0 10px;
	border: 1px solid #ccc;
	background-color: #ffffe9;
}

.act .proceeding .list ul li {
	padding: 12px 5px;
	border-top: 1px solid #ccc;
}

.act .proceeding .list ul li:first-child {
	border-top: none;
}

.act .proceeding .list ul li em {
	display: block;
	font-size: 12px;
}

.act .proceeding .list ul li p {
	margin-top: 10px;
}

.act .proceeding .list ul li p a {
	display: inline-block;
	font-size: 14px;
	color: #333;
	line-height: 18px;
}

.act ul.activity>li {
	margin-top: 15px;
}

.act ul.activity>li:first-child {
	margin-top: 10px;
}

.act ul.activity>li>a {
	display: block;
	color: #6b6b6b;
	border: 1px solid #E1E6EB;
}

.act ul.activity>li>a .area {
	position: relative;
	padding: 13px 42px 13px 67px;
}

.act ul.activity>li>a .area b {
	position: absolute;
	left: 0;
	top: 50%;
	z-index: 10;
	width: 54px;
	height: 20px;
	margin-top: -10px;
	font-size: 11.5px;
	color: #6b6b6b;
	text-align: center;
	text-align: center;
}

.act ul.activity>li>a .area b span {
	font-size: 20px;
}

.act ul.activity>li>a .area p.title {
	margin-bottom: 8px;
}

.act ul.activity>li>a .area p.title strong {
	font-size: 16px;
	color: #2C505F;
}

.act ul.activity>li>a .area p.title span.sfont {
	color: #888;
}

.act ul.activity>li>a .area .blind {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 5;
	width: 54px;
	height: 100%;
	background-color: #FBFCFD;
}

.act ul.activity>li>a .area button.toggle_btn {
	display: block;
	position: absolute;
	right: 10px;
	top: 50%;
	width: 23px;
	height: 13.5px;
	margin-top: -7px;
	text-indent: -99999px;
	background: url(../images/sprite_img.png) no-repeat -65px -120px;
	-webkit-background-size: 610px 300px;
	-moz-background-size: 610px 300px;
	background-size: 610px 300px;
}

.act ul.activity>li.on a .area .blind {
	background-color: #27aae1;
}

.act ul.activity>li.on a .area button.toggle_btn {
	background: url(../images/sprite_img.png) no-repeat -65px -135px;
	-webkit-background-size: 610px 300px;
	-moz-background-size: 610px 300px;
	background-size: 610px 300px;
}

.act ul.activity>li .toggle {
	position: relative;
	padding: 10px 0 10px 67px; /* border-top:1px dashed #dedede; */
	background-color: #FBFCFD;
}

.act ul.activity>li .toggle .overflow_y {
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 145px;
}

.act ul.activity>li .toggle .overflow_y a {
	display: block;
	padding: 5px 0;
	color: #5d5d5d;
}

.act ul.activity>li .toggle .overflow_y a i {
	margin-top: 0;
}


.tabs.tab_activity {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 35px;
}

.tabs.tab_activity li::before {
	content: "";
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
	bottom: -1px;
	border-bottom: 2px solid #dfdfdf;
}

.tabs.tab_activity li {
	float: left;
	position: relative;
	width: 50%;
	display: block; /* margin-right:3px; */
}

.tabs.tab_activity li a {
	color: #939393;
	font-size: 13px;
	min-width: 180px;
	padding: 10px 0;
	display: block;
	text-align: center;
	position: relative;
}

.tabs.tab_activity li a::before {
	background-color: #667277;
	z-index: 2;
	content: "";
	height: 2px;
	left: 0;
	position: absolute;
	top: 33px;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	width: 100%;
}

.tabs.tab_activity li a:hover::before, .tabs.tab_activity li a.active::before
	{
	transform: scale(1);
}

.tabs.tab_activity li a:focus, .tabs.tab_activity li a:hover, .tabs.tab_activity li a:active,
	.tabs.tab_activity li a.active {
	font-weight: bold;
	color: #667277 !important;
	outline: none;
}

.tabs.tab_activity li a i {
	margin-right: 10px;
}

.tab_content {
	padding-top: 20px;
	min-height: 600px;
}



i.ico {
	display: inline-block;
	vertical-align: middle;
	background: url(../../images/sprite_img.png) no-repeat;
	-webkit-background-size: 610px 300px;
	-moz-background-size: 610px 300px;
	background-size: 610px 300px;
	-webkit-background-size: 610px 300px;
	-moz-background-size: 610px 300px;
	background-size: 610px 300px;
}


.main_ctn .act .content .tab_content .calendar #calendar .fc-scroller.fc-day-grid-container{overflow: hidden!important;height: auto!important;}
.enroll_btn{background: white;width: 70px;height: 33px;font-weight: 600;font-size: 13px;border: 2px solid #575B5C;color: #575B5C;font-family: 'Nanum Gothic', sans-serif;}
.enroll_btn:hover{background: #575B5C;color: white;cursor: pointer;}
.cal_btn_area{float: right;}
.dept_emp_span{padding: 6px;float: left;border: 1px solid #afafaf;}
.dept_emp_span a{color: #575B5C;}


/*영업활동 목록보기 css*/
.main_ctn .content .tab_content{border-top: 1px solid #939393;}
.main_ctn .content .tab_content .search_list{position: relative;}
.srch_path{position: relative;}
.srch_path .more{cursor: pointer;border: 1px solid #008aab;position: absolute;right: 0;height: 30px;width: 55px;background: url(../../images/btn_path.png) no-repeat 50% 50%;background-size: 20px auto;}
.search_list .srch_val .srch_path input{width: 336px;height: 30px;border: 1px solid #929FA2;margin-right: 5px;padding: 7px;}
.search_list .srch_val .srch_path input::placeholder{color: #afafaf;}
.search_list .cal {margin-top: 10px;}
.search_list .content:not(.not) .cal span{margin:0 6px;}
.search_list .cal input{width: 48%;height: 30px;border: 1px solid #929FA2;padding: 7px;}
.subcon .wtable.even{width: 100%;text-align: center;border-top: 3px solid #6199B9;border-bottom: 1px solid #929FA2;}
.subcon .wtable.even th:not(:last-child){border-right: 1px solid #929FA2;}
.subcon .wtable.even th{padding: 10px 0;font-weight: 700;}
.subcon .wtable.even tr{border-top: 1px solid #929FA2;}
.subcon .wtable.even td:not(:last-child){border-right: 1px solid #929FA2;}
.subcon .wtable.even td{padding: 10px 0;}

.calIcon{background-image: url(../../images/icon_calendar.png);background-repeat: no-repeat;background-position: left top;position: absolute;width: 30px!important;height: 30px!important;display: inline-block;margin-left: -35px;border-left: 1px solid #929FA2;}
.calIcon2{background-image: url(../../images/icon_calendar.png);background-repeat: no-repeat;background-position: left top;position: absolute;width: 30px!important;height: 30px!important;display: inline-block;margin-left: -32px;border-left: 1px solid #929FA2;}
.calIcon:hover{cursor: pointer;}
.calIcon2:hover{cursor: pointer;}
.ui.grey.basic.button.srch{width: 69px;font-size: 13px;padding: 9px;}
.ui.grey.basic.button.srch:hover{background: #767676;color: white;}
.content .ui.calendar .ui.table.day{min-width: 18.1em;}
.cal .ui.form .field .ui.calendar .ui.input.left.icon input{border-color: #929FA2!important;border-radius: 0;}
.cal .ui.form .field .ui.calendar .ui.input.left.icon input::placeholder{color: #afafaf;}


/* 영업활동 아코디언 리스트  */
.accordion {
	display: block;
	position: relative;
	width: 100%;
	padding-inline-start: 0;
}

.accordionArea {height: 65px;
}
.accordion__item {
	display: block;
	width: 100%;
	margin-bottom: 15px;
}

.accordion__item:last-child {
	margin-bottom: 0;
}

.accordion__title {
	width:100%;
	display: block;
	position: relative;
	height: 65px;
	line-height: 40px;
	padding: 0 50px 0 0px;
	font-size: .875em;
	font-weight: 500;
	color: #333;
	overflow: hidden;
	transition: background-color .2s;
	text-decoration:none;
	border: 1px solid #BAC2CE;
}



.accordion__title.active .x7 {
	transform: rotate(-90deg); 
}

.accordion__title.active .btop { width :
	67%;
	top: 2px;
	transform: translateY(-50%) rotate(-45deg);
	transform-origin: 50% 50%;}
.accordion__title.active .bmid {
	opacity: 0;
}

.accordion__title.active .bbot {
	width: 67%;
	bottom: 2px;
	transform: translateY(50%) rotate(45deg);
	transform-origin: 50% 50%;
}


.accordion__content {
width: calc( 100% + 1px);
	display: none;
	position: relative;
	overflow: hidden;
	border: 1px solid #eee;
	border-top: none;
	line-height: 1.65;
	padding: 25px;
	background-color: #fff;
	font-size: .875em;
}


.bmenu {
	width: 26px;
	height: 16px;
	display: block;
	position: absolute;
	right: 15px;
	top: 23px;
}

.btop, .bmid, .bbot {
	right: 0;
	width: 100%;
	height: 2px;
	position: absolute;
	background-color: #333;
	border-radius: 1px;
}

.btop {
	width: 40%;
}

.bmid {
	width: 60%;
}

.bbot {
	width: 80%;
}

.x7 {
	transition: transform .3s ease-out;
	transform-origin: 60% 75%; 
}
.x7 .btop { top : 0;
	transition: width .3s, transform .3s, top .0s;
	transition-timing-function: ease-out;}
	
.x7 .bmid {
	top: calc(50% - 1px);
	transform-origin: 100% 50%;
	transition: opacity .1s;
	transition-timing-function: ease-out;
}

.x7 .bbot {
	bottom: 0;
	transition: width .3s, transform .3s, bottom .0s;
	transition-timing-function: ease-out;
}
.detailArea {
	display: table-caption;
}
.inputCons {
	resize:none;
}
.btnArea {
	text-align:center;
}
.btnArea button{
font-size:18px;
	display:inline-block;
	margin:0 2px;
	width: 70px;
}
.btnArea .bottomBtn.doneBtn{
	display:none;
}

.updateBtn {
	display:inline-block;
	margin:0 2px;
	width: 70px;
	height: 22px;
	line-height: 19px;
	text-decoration: none;
	border: 1px solid green;
	border-radius: 5px;
	background: none;
	color: black;
	position: relative;
	padding: 1px 6px;
}

.updateBtn:focus {
	outline: none;
}

.updateBtn:hover {
	cursor: pointer;
	background: green;
	border: 1px solid green;
	color: white;
}

.act_active{font-size: 14px;}
.activity_count{background: #fff;padding-left: 21px;width: 54px;height: 63px;position: absolute;
			line-height: 63px;font-size: 20px;}
.active .activity_count{background: #6199B9;color: #FFF;}
.active .activity_count .count{color: #FFF;font-size: 20px;}
.act_title{margin-left: 60px;line-height: 20px;padding-top: 13px;}
.act_dep{margin-left: 60px;line-height: 20px;color: #5D5D5D;}
.accordion__title:hover{color: #5D5D5D;}
.acco_client{font-size: 15px;font-weight: 700;}
.noEmp_li{text-align: right;}
.noEmpCk{display: inline-block;padding: 20px 5px 5px;clear: both;}
.noEmpCk input{line-height: 1px;float: left;margin-top: 3px;margin-right: 2px;}
.noEmpCk label{float: left;}
.search_list .srch_val .srch_path input.clicom{width: 453px;}
.ui.grey.basic.button.srch{margin-right: 0;font-size: 12px;margin-bottom: 10px;}


/*영업활동 등록페이지*/
.main_ctn .title_area{clear: both;display: block;overflow: hidden;margin-bottom: 5px;}
.main_ctn .title_area .top_btn_area{float: right;}
.main_ctn .title_area .top_btn_area button{height: 35px;width:70px;font-size: 14px;line-height: 1px;}
.main_ctn .title_area h3{float: left;}

.main_ctn .content_area .enroll_table_area .act_enroll_table{width: 100%;border-top: 2px solid #6199B9;}
.main_ctn .content_area .enroll_table_area .act_enroll_table .enroll_th{vertical-align: middle;border-bottom: 1px solid #929FA2;border-right: 1px solid #929FA2;}
.main_ctn .content_area .enroll_table_area.product_table_area .enroll_th:nth-child(5){border-right: none;}
.main_ctn .content_area .enroll_table_area.attach_table_area .enroll_th:nth-child(2){border-right: none;}
.main_ctn .content_area .enroll_table_area:not(.product_table_area) .act_enroll_table .enroll_th{width: 24%;}
.main_ctn .content_area .enroll_table_area .act_enroll_table td:not(.link){height: 50px;vertical-align: middle;border-bottom: 1px solid #929FA2;padding:8px;}
.main_ctn .content_area .enroll_table_area .act_enroll_table td input:not([type=checkbox]){border: 1px solid #929FA2; border-radius: 3px;width: 100%;padding: 6px;}
.main_ctn .content_area .enroll_table_area .act_enroll_table td textarea{resize: none; height: 132px;border: 1px solid #929FA2; border-radius: 3px;width: 100%;padding: 6px;display: block;}
.main_ctn .content_area .enroll_table_area .act_enroll_table td .pro_select{border: 1px solid #929FA2; border-radius: 3px;width: 30%;height: 30px;}
.main_ctn .content_area .enroll_table_area .act_enroll_table td button:not(.not){display: inline-block;height: 30px;position: absolute;margin-left: 10px;line-height: 1px;font-weight: 400;}
.main_ctn .content_area .enroll_table_area .act_enroll_table td .ui.basic.grey.button.atth_btn:hover{background: #767676;color: white;}
.opp_srch{position: relative;padding-right: 90px;}
.main_ctn .content_area .enroll_table_area td .rate_val{width: 30%!important;}
.complete_ck{text-align: left;}
.main_ctn .content_area .product_table_area th{height: 34px;}
.product_area{margin-top: 20px;}
.attc_area{margin-top: 20px;}
.attc_btn_div{float: right;margin-top: 15px;}
.attc_btn_div.pdt{position: relative; top: -10px;}
.attc_btn_div .ui.basic.grey.button.atth_btn:hover{background: #767676;color: white;}
.attc_btn_div input[type="file"] {position: absolute;width: 0;height: 0;padding: 0;overflow: hidden;border: 0;
}
.main_ctn .content_area .enroll_table_area .act_enroll_table td input[type="file"] {position: absolute;width: 0;height: 0;padding: 0;overflow: hidden;border: 0;
}
.upload_name{border: none!important;}
.enroll_table_area.product_table_area.attach_table_area td button{height: 30px;line-height: 1px;}
.enroll_table_area.product_table_area.attach_table_area td .ui.basic.grey.button:hover{background: #767676;color: white;}
.enroll_table_area.product_table_area.attach_table_area td:last-child{text-align: center;}
.act_enroll_table .ui.form .fields{margin-bottom: 0!important;}


/* 동반인력 모달 css */
.managerArea {overflow-x: hidden;overflow-y: auto;height: 36px;margin-top:5px;}
.managerArea ul {margin: -10px 0 0 -1%;clear: left;overflow: hidden;}
.managerArea ul .managerName {float: left;position: relative;width: 32.3333%;margin: 10px 0 0 1%;line-height: 16px;}
.managerArea ul .managerName button{display: block;width: 100%;padding: 8px 25px 8px 8px;color: #333;text-align: left;border: 1px solid #E1E6EB;background-color: #FBFCFD;border-radius: 2px;}
.managerArea ul .managerName button i{display: block;position: absolute;right: 5px;top: 53%;margin-top: -8px;}
.result_Modal{margin-top:5px;}
.clientArea {overflow-x: hidden;overflow-y: auto;height: 36px;margin-top:5px;}
.clientArea ul {margin: -10px 0 0 -1%;clear: left;overflow: hidden;}
.clientArea ul .clientName {float: left;position: relative;width: 32.3333%;margin: 10px 0 0 1%;line-height: 16px;}
.clientArea ul .clientName button{display: block;width: 100%;padding: 8px 25px 8px 8px;color: #333;text-align: left;border: 1px solid #E1E6EB;background-color: #FBFCFD;border-radius: 2px;}
.clientArea ul .clientName button i{display: block;position: absolute;right: 5px;top: 53%;margin-top: -8px;}
.result_Modal{margin-top:5px;}
.content_Window{width: 100%;height: 550px;}
.subBtnArea{margin-top: 10px;float: right;}
.subBtnArea .ui.basic.gray.button{margin-right:0;}
.subBtnArea .ui.basic.gray.button:hover{background:gray;color:white;border-color:gray;}


/* 영업활동 캘린더 css */
#tab1 .fc-day-grid-event .fc-content{text-align: center;height: 14px;line-height: 1.2;cursor: pointer;}
#tab1 .fc-day-grid-event .fc-content span{color: white;}
#tab1 .fc-event .fc-event-hori .fc-event-start .fc-event-end{cursor: pointer;}
#calendar td{cursor: pointer;}
#tab1 .schedule .sc_list td.tdCenter{text-align: center;padding: 0;width: 39px;height: 36px;}
.tab_content .schedule .sc_list td .ellipsis{width:150px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

/* 세로 테이블 */
table.htable tbody tr th {
	padding: 12px 10px;
	vertical-align: middle;
	line-height: 18px;
	border-bottom: 1px solid #E1E6EB;
	background-color: #FBFCFD;
	text-align: center;
}

table.htable tbody tr th span {
	color: #27aae1;
}

table.htable tbody tr td {
	padding: 8px 10px;
	vertical-align: middle;
	line-height: 18px;
	word-break: break-all;
	word-wrap: break-word;
	border-bottom: 1px solid #E1E6EB;
	border-left: 1px solid #E1E6EB;
	position: relative;
}

table.htable tbody tr td a {
	color: #5d5d5d;
}

table.htable tbody tr td input[type=text], table.htable tbody tr td input[type=password],
	table.htable tbody tr td input[type=tel], table.htable tbody tr td input[type=number],
	table.htable tbody tr td input[type=email], table.htable tbody tr td select
	{
	width: 100%;
}

table.htable tbody tr td p {
	margin-top: 5px;
}

table.htable tbody tr td p:first-child {
	margin-top: 0;
}

table.htable tbody tr th.r_line {
	border-right: 1px solid #E1E6EB;
}

table.htable tbody tr td.left {
	text-align: left;
}

table.htable tbody tr td.each {
	clear: right;
	overflow: hidden;
}

table.htable tbody tr td.each .right {
	float: right;
}

table.htable tbody tr td.label_space {
	clear: left;
	overflow: hidden;
}

table.htable tbody tr td.label_space span {
	display: block;
	float: left;
	overflow: hidden;
	width: 25%;
	margin: 5px 0;
}

table.htable tbody tr td.checkbox {
	text-align: center;
	border-left: none;
}

table.htable tbody tr td.left_nl {
	border-left: none;
}

table.htable tbody tr td .pos {
	position: relative;
}

table.htable tbody tr td .pos.space {
	padding-right: 80px;
}

table.htable tbody tr td .pos.space2 {
	padding-right: 86px;
}

table.htable tbody tr td .pos.space.twobtn {
	padding-right: 156px;
}

table.htable tbody tr td .pos .poa {
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -17px;
	line-height: 32px;
}

table.htable tbody tr td .pos .poa button.ico_email {
	display: block;
	padding: 6px;
	font-size: 14px;
	color: #fff;
	line-height: 1;
	border: 1px solid #575757;
	background-color: #757575;
	border-radius: 2px;
}

table.htable tbody tr td .pos .poa button.ico_email:hover {
	border: 1px solid #323232;
	background-color: #575757;
}

table.htable tbody tr td .pos .ico_set {
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -15px;
}

table.htable tbody tr td .pos .ico_set a {
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 29px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

table.htable tbody tr td .pos .ico_set i.ico_one {
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 29px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

table.htable tbody tr td .pos.percent {
	clear: right;
	overflow: hidden;
}

table.htable tbody tr td .pos.percent .percent_input {
	position: absolute;
	right: 0;
	top: 0;
	width: 40%;
	padding-right: 20px;
}

table.htable tbody tr td .name_box ul {
	margin-top: 0;
}

table.htable tbody tr td .name_box ul li:nth-child(1), table.htable tbody tr td .name_box ul li:nth-child(2),
	table.htable tbody tr td .name_box ul li:nth-child(3) {
	margin-top: 0;
}

table.htable tbody tr td pre {
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 100px;
	padding-right: 15px;
	word-break: break-all;
	word-wrap: break-word;
}


/*모달 공통*/
/* #header{background: #6199B9;width: 100%;height: 66px;} */
.header_ModalCal div {height:45px; color: white;font-size: 27px;padding:8px;font-weight: bold; background: #6199B9;}
.header_ModalCal div h2 {color: white;}
.table_modalCal{width: 100%; border-collapse: collapse;}
.contents_ModalCal {width: 90%;height: 87%;margin: 0 auto;}
.contents_Modal_DivCal {height:90%; margin-top: 21px;}
.result_ModalCal{height:280px; margin-top: 10px; border-top: 2px solid #6199B9; overflow: auto; border-bottom: 1px solid #E5E5E5; margin-bottom: 10px;}
.result_Modal2Cal{height:300px; margin-top: 41px; border-top: 2px solid #6199B9; overflow: auto;}
.result_ModalCal div{height: 60px;  border-bottom: 1px solid #E5E5E5;}
.result_Modal2Cal div{height: 60px;  border-bottom: 1px solid #E5E5E5;}
.table_modalCal td{border: 1px solid #E5E5E5;}
.oneTextCal td{width: 70%; height: 50px;text-align: center}
.oneTextCal td input[type='text']{width: 100%;height: 95%; border: none;padding-left: 2%;}
.header_ModalCal div i {float: right;color: white;font-size: 32px;margin-right: -5px;}
.result_TableCal {width: 100%;}
.result_TableCal th, .result_Table td {height: 40px; text-align: center; vertical-align: middle; border-bottom: 1px solid #E5E5E5;}
.rightCal td:not(:nth-last-child(1)), .right th:not(:nth-last-child(1)){border-right: 1px solid #E5E5E5;}
.threeTextCal td:nth-child(1){width: 100%; height: 50px;text-align: center;}
.threeTextCal td {border: none;}
.htable td textarea{resize: none; border: 1px solid #E5E5E5 ;}
.htable td .ui.form .fields{margin-bottom: 0;}
.change_size{width: 600px}
.priCalBtn{float: right; margin: 10px 0;}



/*인풋라디오버튼 스타일*/
input[type=radio].css-checkbox {
	display: none;
}

input[type=radio].css-checkbox+label.css-label-button {
	display: inline-block;
	height: 20px;
	line-height: 20px;
	padding-left: 25px;
	background-repeat: no-repeat;
	background-position: 0 0;
	font-size: 0.9em;
	vertical-align: middle;
	cursor: pointer;
}

input[type=radio].css-checkbox:checked+label.css-label-button {
	background-position: 0 -20px;
}

label.css-label-button {
	background-image: url("../../images/cssradiobutton.png");
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}



/* 영업활동 상세보기 */
